{% extends 'catalog/home.html' %}
{% load static %}
{% load my_tags %}
{% block content %}

<h2 class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">Блог {{ object.heading }}</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    {% if object.preview %}
                    <img src="{{ object.preview_image | media_filter }}" class="card-img-top" alt="{{ object.preview_image }}">
                    {% else %}
                    <img src="{% static 'default_image.jpg' %}" class="card-img-top" alt="Изображение недоступно">
                    {% endif %}
                    <h5 class="card-title">Заголовок - {{ object.heading }} | {{ object.slug }}</h5>
                    <p class="card-text">Содержание - {{ object.content }}</p>
                    {% if object.sing_of_publication == True %}
                    <p class="card-text">Опубликовано</p>
                    {% else %}
                    <p class="card-text">не опубликовано</p>
                    {% endif %}
                    <p class="card-text">Дата публикации - {{ object.date_of_creation }}</p>
                    <p class="card-text">Количество просмотров: {{ object.count_views }}</p>
                </div>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'catalog:blog_list' %}" role="button">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}