{% extends "catalog/home.html" %}
{% load my_tags %}
{% block content %}

<div class="container mt-5">
    <h2 style="font-weight: normal;" class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        {% if object %}
        Редактирование
        {% else %}
        Комментарий
        {% endif %}
    </h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">
            {% if object %}
            Сохранить изменения
            {% else %}
            Добавить комментарий
            {% endif %}
        </button>
    </form>
    <div class="text-center mt-4">
        <a href="{% url 'catalog:home' %}" class="btn btn-secondary">Назад на Главную</a>
    </div>
</div>
{% endblock %}